*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #305669;
}
.container{
    height: 70vh;
}
.game{
    margin: auto;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 1rem;
}
#msg{
    color: white;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}

